header, footer{
	color: purple; /*teksti värv*/
	background-color: cyan; /*tausta värv*/
	width: 50%; /*laius*/
	text-align: center;
	border-width: 3pt;
	border-style: solid; /*piir - solid, dotted, double, dashed*/
	border-image: linear-gradient(to right, darkgreen, yellow, darkred) 1;
	padding: 0.1%;
	
}
main section{
	background-color: grey;
	border: dashed 3pt; 
	border-image: linear-gradient(to right, blue, green, red) 1;
	padding: 0.1%;
	margin: 8px;
	width: 30%;
}
main section h2{
	color: orange;
	font-variant: small-caps; /*normal*/
}
nav ul {
	list-style-type: none; /*markeruudid*/
	padding: 0;
	overflow: hidden; /*kuidas näidata nav elemendid*/
	background-color: gray;
	width: 50%;
	border: solid 3pt; /*piir - solid, dotted, double, dashed*/
	border-image: linear-gradient(to right, darkgreen, yellow, darkred) 1;
	margin: 8px;
}

nav li {
  float: left;
}

nav li a {
  display: block;
  color: blue;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  
}

nav li a:hover { /*link fookuses*/
  background-color: black;
}